*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #d5b3f1;
    flex-wrap: wrap;

}

body > header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #840b8f;
    color: #fff;
    margin: 1.5rem;
    padding: 1.5rem 2rem;
    font-size: 25px;
    border-radius: 9px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}